body {
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    margin: 0;
    line-height: 1.4;
}



:root{
    font-size: calc(1vw + 0.6rem);
   box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
    margin: 0 auto;
}

.header-container {
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo{
    
    font-size: 1.5em ;
    font-weight: 700; 
    width: 20%;
}

.navbar-droppdown {
    position: relative;
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 80%;
}

.navbar-droppdown-menu{
    margin-top: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navbar-droppdown-menu-submenu  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: #5f4b44;
    border-radius: .2em;
    padding: 0;
}

.navbar-droppdown-menu-submenu li {
    padding: 1em 0.5em;
}


.home-link {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width:801px){
    button{
        visibility: hidden;
    }
}

.main-container{
    position: relative;
    display: flex;
    width: 100%;
    background-image: url("IMG/background.jpg");
    background-size:cover;
    height: 0;
    padding-bottom: 100%; 
}

main{
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    align-items: center;
}

.main-container-nothing{
    position: absolute;
    top: 0; 
    left: -70%;
    width: 70%;
    background-color: yellow;
    
    margin-top: 0;
}
.main-container main{
    position: absolute; 
    width: 30%;
    height: 0;
    padding-bottom: 100%;
    top: 0em;
    right: 0;
    background-color: crimson;
}

form{

    padding: 1em 1em;
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
   
}

form >  input{
    min-width: 30%;
   
}

.fa{
    padding-right: 4em;
}

main > h5{
    font-size: 1.5rem;
    padding: 1em;
}

main > p {
    padding-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > button {
    display: block;
}

main p{
    display: inline-block;
    line-height: 4;
    
}








     
    







